name: Continuous Deployment

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4.0.0
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'
          
      - name: Cache node_modules
        id: cache-node-modules  # Added an ID for this step
        uses: actions/cache@v3
        with:
          path: node_modules  # caching node_modules directly
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-modules-
      
      - name: Install Dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'  # Only run if cache was a miss
        run: npm ci

      - name: Build the package
        run: npm run build # Assumes you have a "build" script in your package.json

      - name: Verify npm authentication
        run: npm whoami
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_PAT }}
  

      - name: Publish the package
        run: npm publish --verbose
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_PAT }} # This should match the name of your secret
